<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CacheBuilder.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <applicationSettings>
        <CacheBuilder.My.MySettings>
            <setting name="URL" serializeAs="String">
                <value>https://votpuskkod.ru/</value>
            </setting>
            <setting name="UpdateIntervalMinutes" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="OutPathRoot" serializeAs="String">
                <value>G:\Tmp\9\</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value>G:\Tmp\9\Log.txt</value>
            </setting>
            <setting name="IISAppName" serializeAs="String">
                <value>Default Web Site/</value>
            </setting>
            <setting name="IISvDir" serializeAs="String">
                <value>Promokodi/</value>
            </setting>
            <setting name="AvoidCreateVdir" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DelaySec" serializeAs="String">
                <value>5</value>
            </setting>
        </CacheBuilder.My.MySettings>
    </applicationSettings>
</configuration>